html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Tahoma", sans-serif !important;
  background-color: rgb(249, 249, 249) !important;
}

* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

@font-face {
  font-family: "Poppins";
  src: url("/fonts/font-poppins/Poppins-Light.otf");
  font-display: swap;
}

@font-face {
  font-family: "Tahoma";
  src: url("/fonts/font-tahoma/Tahoma Regular font.ttf");
  font-weight: normal;
  font-display: swap;
}
